.container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  align-content: center;
  border: saddlebrown;
  border: 1px;
}

.output {
  height: 4rem;
  background-color: rgb(49, 49, 49);
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding: 0.625rem;
  font-size: 2rem;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 80vh;
  appearance: none;
  border: none;
  outline: none;
}

.btn {
  border: 0.5px;
}

#zero {
  grid-column: span 2;
}

#mod {
  background-color: rgba(255, 94, 0, 0.788);
}

#multiply {
  background-color: rgba(255, 94, 0, 0.788);
}

#minus {
  background-color: rgba(255, 94, 0, 0.788);
}

#plus {
  background-color: rgba(255, 94, 0, 0.788);
}

#equals {
  background-color: rgba(255, 94, 0, 0.788);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
